$rojo:#9d2449;
$azul:#4D92DF;
$negro: #000000;
$negro2: #272829;
$negro3: #393C3E;
$gris_oscuro: #545454;
$gris: #dddddd;
$gris_claro: #F6F6F6;
$blanco: #ffffff;
$oro_oscuro: rgb(221, 201, 163);
$verde: #349025;

//Nuevas variables
$rojo2:#9d2449;
$gris2: #EAECEE;
$gris3: #716f6f;
$gris_claro2: #F9FBFD;
$gris_medio:#F9F9F9;
$oro:#F6F1E8;
$oro_borde:#eee4d1;
$oro_claro:#FCF2CE;
$oro_claro_borde:#FFEBA1;
$oro_oscuro2: #DDC9A3;
$oro_boton:#b38e5d;

$verde2:#3C763D;
$verde_claro: #DFF0D8;
$amarillo : #EB9B00;
$amarillo_hover: #D88E00;

//CAMA
$rosa: #FCB4F9;
$azul_claro : #9ED7F5;